<% include header.ejs %>
    <div>
        <a href="/vote"><h1>VOTE</h1></a>
    </div>
    <div>
        <a href="/voter"><h1>REGISTER AS VOTER</h1></a>
    </div>
    <div>
        <a href="/candidate"><h1>REGISTER AS CANDIDATE</h1></a>
    </div>
</body>
</html>