<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Voter</title>
</head>
<body>
    <form method="POST">
        <label for="name">NAME: </label>
        <input type="text" required name="name">
        <label for="age">AGE: </label>
        <input type="text" required name="age">
        <label for="adhaar">ADHAAR NO.: </label>
        <input type="text" required name="adhaar">
        <label for="voter_id">VOTER ID: </label>
        <input type="text" required name="voter_id">
        <input type="submit" value="Submit">
    </form>
</body>
</html>