<% include header.ejs %>
    <form method="POST">
        <label for="name">NAME: </label>
        <input type="text" required name="name" id="name">
        <label for="age">AGE: </label>
        <input type="text" required name="age" id="age">
        <label for="adhaar">ADHAAR NO.: </label>
        <input type="text" required name="adhaar" id="adhaar">
        <label for="voter_id">VOTER ID: </label>
        <input type="text" required name="voter_id" id="voter_id">
        <input type="submit">
    </form>
</body>
</html>