<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VOTE</title>
</head>
<body>
    <form method="POST">
        <label for="candidate">Choose a candidate</label>
        <input type="text" name="candidate"><br>
        <label for="adhaar">Enter Your Adhdaar no.: </label>
        <input type="text" name="adhaar"><br>
        <input type="submit" value="VOTE">
    </form>
</body>
</html>