<% include header.ejs %>
    <form method="POST">

        <label for="candidate">Choose a candidate</label>
        <select name="candidate" id="candidate">
            <% for(var i = 0; i < candidates.length; i++){ %>
                <option value="<%= candidates[i]._id %>"><%= candidates[i].name %></option>
            <% } %>
        </select><br>
        <label for="voter">Enter Your Voter ID: </label>
        <input type="text" name="voter" id="voter_id"><br>
        <input type="submit" value="VOTE">
    </form>
    <script src="/js/vote.js" type="application/javascript"></script>
</body>
</html>